:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-black);
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-white);
}

hr .divider {
  color: var(--color-primary);
  background-color: var(--color-primary);
  height: 5;
}
