:root {
 --color-primary : #34C94B;
 --color-black : #121212;
 --color-white : #ffffff;
}

body{
  background-color: var(--color-black);
  font-family: 'Poppins' , "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-white);
}
